// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron  {
	min-height: 500px;
	background-image: url('http://placehold.it/1020x400&text=image+placeholder');
	background-size: cover;
	margin-top: -20px;
}
body { padding-top: 70px; }
