// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile{
  text-align: left;
  display: inline-block;
}

.panel .panel-heading{
  background-color: rgba(205, 0, 0, 0.7);
}
